*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Lato', sans-serif;
}
.App {
  text-align: center;
  overflow-x: hidden;
}

.home-hero{
  background-image: url("./assets/hero.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  padding: 0 15rem;
}

.text-hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.home-hero h1{
  z-index: 50;
  font-size: 4rem;
  color: #fff;
}
.home-hero em{
  font-weight: 300;
  animation: myanimation 5s infinite;
}
@keyframes myanimation {
  0% {color: #ffb703;}
  25%{color:#f72585;}
  50%{color:#06d6a0;}
  75%{color:black;}
  100% {color: #c77dff;}
}
.product-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
}
.cart-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin-top: 40px;
}
.cart-list-warning{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 40%;
  background-color: #ffb703;
  padding: 100px 50px;
  margin-top: 50px;
}
.cart-item img{
  width: 80px;
}
.cart-total{
  display: flex;
  margin-top: 10px;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  width: 50%;
  padding: 15px 20px;
}
.cart-total p{
  color:#ffb703
}

.product-item-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.products-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 10rem 0 5rem 0;
}
.search-filter{
  display: flex;
  align-items: center;
  gap: 2rem;
}
.product-list{
  margin-top: 10px;
  min-height: 100vh
}

.product-detail-page{
  padding: 5rem 0;
}

@media screen and (max-width:480px) {
  .search-filter{
    flex-direction: column;
  }
}

@media screen and (max-width:768px) {
  .home-hero{
    width: 100vw;
    padding: 0 1rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .text-hero{
    transform: translate(-10%,-15%);
  }
  .home-hero h1{
    font-size: 2rem;
  }
}

@media screen and (min-width:769px) and (max-width:1024px){
  .text-hero{
    transform: translate(70%,-5%);
  }
  .home-hero h1{
    font-size: 50px;
  }
}