*{
  box-sizing: border-box;
  margin: 0;
}
.App {
  text-align: center;
  padding: 60px 100px;
}

.product-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.cart-item img{
  width: 80px;
}